<?xml version="1.0" encoding="utf-8" ?>
<ConfigSettings>
  <Settings name ="Курсовая работа">
    <nameFontOfOST>Times New Roman</nameFontOfOST>
    <colorFontOfOST>Black</colorFontOfOST>
    <lineSpacingOfOST>789</lineSpacingOfOST>
    <sizeFontOfOST>14</sizeFontOfOST>
    <widthOfOST></widthOfOST>
    <hightOfOST></hightOfOST>
    <leftIndentOfOST>123</leftIndentOfOST>
    <firstLineIndentOfOST>456</firstLineIndentOfOST>
    <nameFontForFooterOfOST></nameFontForFooterOfOST>
    <alignmentTextOfOST></alignmentTextOfOST>
    <alignmentFooter></alignmentFooter>
    <alignmentHeader></alignmentHeader>
    </Settings>
</ConfigSettings>